---
import * as Card from "@/components/card";
import Form from "@/components/forms/signup.svelte";
import Layout from "@/layouts/auth.astro";

const description =
	"Sign up to SoundStash and get 100 MB of free FLAC, MP3 and Opus storage. Stream your music in original quality from any device—no credit card required.";
---

<Layout description={description} title="Sign up">
	<Card.Root class="w-sm">
		<Card.Header>
			<Card.Title>Create your account</Card.Title>
			<Card.Description
				>Enter your name and email to create an account.</Card.Description
			>
		</Card.Header>
		<Form client:idle />
		<span class="text-fg1 text-center text-sm [&_a]:underline">
			Already have an account?
			<a href="/auth/signin">Sign in</a>
		</span>
	</Card.Root>
</Layout>
