---
import {
	Card,
	CardDescription,
	CardHeader,
	CardTitle,
} from "@/components/card";
import Form from "@/components/forms/signin.svelte";
import Layout from "@/layouts/auth.astro";

export const prerender = true;
---

<Layout>
	<Card class="w-sm">
		<CardHeader>
			<CardTitle>Welcome back!</CardTitle>
			<CardDescription
				>Enter your email to sign in to your account.</CardDescription
			>
		</CardHeader>
		<Form client:idle />
		<span class="text-fg1 text-center text-sm [&_a]:underline">
			<a href="/auth/reset/request">Forgot your password?</a>
			&bull;
			<a href="/auth/signup">Sign up</a>
		</span>
	</Card>
</Layout>
