---
import * as Card from "@/components/card";
import Button from "@/components/button.svelte";
import Layout from "@/layouts/auth.astro";
import { ResendButton } from "@/components/verify";

const user = Astro.locals.user;
if (!user) return new Response(null, { status: 401 });
---

<Layout backButton={false} title="Verify email">
	<Card.Root class="w-sm">
		<Card.Header>
			<Card.Title>Verify your email</Card.Title>
			<Card.Description
				>We need to confirm that you own <b>{user.email}</b> before using SoundStash.</Card.Description
			>
		</Card.Header>
		<div class="grid grid-cols-2 gap-1">
			<Button href="/">Done</Button>
			<ResendButton client:idle email={user.email} />
		</div>
	</Card.Root>
</Layout>
