@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-text: var(--text);
	--color-background: var(--background);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-accent: var(--accent);
}

:root {
	--text: 17.36%, 0.018, 92.28;
	--background: 98.28%, 0.009, 84.57;
	--primary: 83.24%, 0.16, 83.07;
	--secondary: 87.25%, 0.088, 87.22;
	--accent: 83.39%, 0.134, 86.19;
}
.dark {
	--text: 97%, 0.012, 91.52;
	--background: 14.1%, 0.017, 90.34;
	--primary: 70.79%, 0.146, 79;
	--secondary: 45.64%, 0.086, 83.33;
	--accent: 60.97%, 0.122, 81.07;
}
