@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--font-sans: var(--font-inter);
	--color-bg0: var(--bg0);
	--color-bg: var(--bg);
	--color-bg1: var(--bg1);
	--color-bg2: var(--bg2);
	--color-bg3: var(--bg3);
	--color-bg4: var(--bg4);
	--color-bg5: var(--bg5);
	--color-fg0: var(--fg0);
	--color-fg: var(--fg);
	--color-fg1: var(--fg1);
	--color-fg2: var(--fg2);
	--color-destructive: oklch(0.5458 0.203 28.66);
	--color-primary: var(--primary);
}

:root {
	--bg0: oklch(0.9655 0.0394 100.86);
	--bg: oklch(0.9555 0.0555 96.15);
	--bg1: oklch(0.8941 0.0566 89.24);
	--bg2: oklch(0.8255 0.0507 85.12);
	--bg3: oklch(0.7564 0.041 82.28);
	--bg4: oklch(0.6903 0.0346 76.31);
	--bg5: oklch(0.6192 0.0286 67.26);
	--fg0: oklch(0.2768 0 0);
	--fg: oklch(0.3441 0.0066 48.52);
	--fg1: oklch(0.411 0.0115 51.87);
	--fg2: oklch(0.4818 0.0181 61.04);
	--primary: oklch(0.6176 0.1277 70.67);
}
.dark {
	--bg0: oklch(0.2408 0.0049 219.67);
	--bg: oklch(0.2768 0 0);
	--bg1: oklch(0.3441 0.0066 48.52);
	--bg2: oklch(0.411 0.0115 51.87);
	--bg3: oklch(0.4818 0.0181 61.04);
	--bg4: oklch(0.5505 0.0234 62.57);
	--bg5: oklch(0.6192 0.0286 67.26);
	--fg0: oklch(0.9555 0.0555 96.15);
	--fg: oklch(0.8941 0.0566 89.24);
	--fg1: oklch(0.8255 0.0507 85.12);
	--fg2: oklch(0.7564 0.041 82.28);
	--primary: oklch(0.8325 0.1595 82.99);
}
