---
import { cn } from "@/lib/utils";
import type { ClassValue } from "clsx";

interface Props {
	class?: ClassValue;
}
const { class: className } = Astro.props;
---

<p class={cn("text-fg1 text-sm", className)}>
	<slot />
</p>
