---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
	class?: string;
	level?: number;
}
const { class: className, level, ...props } = Astro.props;
---

<div
	class={cn(
		"flex flex-col gap-2 rounded-md border p-3",
		`bg-bg${level ? level : ""}`,
		`border-bg${(level ? level : 0) + 2}`,
		className
	)}
	{...props}
>
	<slot />
</div>
