---
import { cn } from "@/lib/utils";
import type { ClassValue } from "clsx";

interface Props {
	class?: ClassValue;
}
const { class: className } = Astro.props;
---

<h1 class={cn("text-lg leading-none font-semibold tracking-tight", className)}>
	<slot />
</h1>
