---
import Layout from "@/layouts/player.astro";
import * as Table from "@/components/storage";
import Button from "@/components/button.svelte";
import { Icon, ArrowUpTray, Server } from "svelte-hero-icons";
import * as StorageUsed from "@/components/storage/used";

const user = Astro.locals.user;
if (!user) return new Response(null, { status: 401 });

let n = 8;
if (Astro.cookies.has("tracks")) {
	const tracks = Astro.cookies.get("tracks");
	const value = tracks?.number();
	if (value !== undefined && !isNaN(value)) n = value;
}
---

<Layout class="space-y-2">
	<h2 class="text-2xl font-bold tracking-tight">Manage storage</h2>
	<div class="flex items-center gap-1">
		<Button href="/upload"><Icon src={ArrowUpTray} mini />Upload</Button>
		<Button disabled variant="outline"><Icon src={Server} />Get storage</Button>
		<StorageUsed.Root server:defer>
			<StorageUsed.Loading slot="fallback" />
		</StorageUsed.Root>
	</div>
	<Table.Root server:defer>
		<Table.Loading n={n} slot="fallback" />
	</Table.Root>
</Layout>
