---
import { Button } from "@/components/ui/button";
---

<header
	class="bg-background sticky top-0 z-50 flex w-full items-center px-6 py-1"
>
	<h1 class="text-lg font-extrabold">SoundStash</h1>
	<div class="flex flex-1 items-center justify-end">
		<a href="/auth/signup">
			<Button size="sm" variant="ghost">Sign up</Button>
		</a>
		<a href="/auth/signin">
			<Button size="sm" variant="ghost">Sign in</Button>
		</a>
	</div>
</header>
