---
import { Badge } from "@/components/ui/badge";
import { Button } from "@/components/ui/button";

const session = Astro.locals.session;
---

<header
	class="bg-background sticky top-0 z-50 flex w-full items-center px-6 py-1"
>
	<div class="flex items-center">
		<a href="/"
			><Button
				className="flex items-center text-lg font-extrabold"
				variant="ghost"
				>SoundStash <Badge className="bg-yellow-500">Alpha</Badge></Button
			></a
		>
		{
			session && (
				<>
					<a href="/">
						<Button size="sm" variant="ghost">
							Player
						</Button>
					</a>
					<a href="/library">
						<Button size="sm" variant="ghost">
							Library
						</Button>
					</a>
				</>
			)
		}
	</div>
	<div class="flex flex-1 items-center justify-end">
		{
			session ? (
				<a href="/account">
					<Button size="sm" variant="ghost">
						Account
					</Button>
				</a>
			) : (
				<>
					<a href="/auth/signup">
						<Button size="sm" variant="ghost">
							Sign up
						</Button>
					</a>
					<a href="/auth/signin">
						<Button size="sm" variant="ghost">
							Sign in
						</Button>
					</a>
				</>
			)
		}
	</div>
</header>
