---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
import { Separator } from "bits-ui";
import { Loading, Playlists } from "./library";
import Account from "./account.svelte";

interface Props extends HTMLAttributes<"div"> {
	class?: string;
}
const { class: className, ...props } = Astro.props;

let n = 4;
if (Astro.cookies.has("playlists")) {
	const playlists = Astro.cookies.get("playlists");
	const value = playlists?.number();
	if (value !== undefined && !isNaN(value)) n = value;
}

const user = Astro.locals.user;
if (!user) return new Response(null, { status: 401 });
---

<div
	class={cn(
		"bg-bg border-bg2 hidden w-64 flex-1 shrink-0 grow-0 flex-col items-center gap-3 border-r py-3 sm:flex",
		className
	)}
	{...props}
>
	<h1 class="text-xl font-bold tracking-tight">SoundStash</h1>
	<Separator.Root class="bg-bg2 h-[1px] w-full shrink-0" />
	<section class="flex w-full flex-1 flex-col gap-1 px-3">
		<a
			class="font-medium tracking-tight hover:underline"
			draggable={false}
			href="/"
		>
			<h1>Your Library</h1>
		</a>
		<Playlists server:defer>
			<Loading n={n} slot="fallback" />
		</Playlists>
	</section>
	<section class="flex w-full justify-center px-3">
		<Account client:idle email={user.email} />
	</section>
</div>
