---
import Button from "@/components/button.svelte";
import Layout from "@/layouts/html.astro";
import { ChevronLeft, Icon } from "svelte-hero-icons";

interface Props {
	backButton?: boolean;
	backDestination?: string;
	description?: string;
	title?: string;
}
const {
	backButton = true,
	backDestination = "/",
	description,
	title,
} = Astro.props;
---

<Layout description={description} title={title}>
	{
		backButton && (
			<Button
				class="fixed top-0 left-0 m-2"
				href={backDestination}
				variant="ghost"
			>
				<Icon src={ChevronLeft} />
				Back
			</Button>
		)
	}
	<div class="flex h-screen w-full items-center justify-center p-3">
		<slot />
	</div>
</Layout>
