---
import PostHog from "@/components/posthog.astro";
import { Toaster } from "svelte-sonner";
import "@/styles/global.css";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
---

<html class="min-h-screen w-screen" lang="en" transition:animate="none">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="SoundStash" />
		<link rel="manifest" href="/site.webmanifest" />

		<title>SoundStash</title>
		<meta
			name="description"
			content="SoundStash: Your personal music streaming platform. Upload & stream high-quality MP3, FLAC & Opus files from anywhere. 100MB free storage. No compression."
		/>
		<meta
			name="keywords"
			content="music streaming, personal music library, high-quality audio, MP3 streaming, FLAC streaming, Opus streaming, cloud music storage, music ownership, lossless audio streaming, personal audio library, music cloud storage, high-fidelity streaming, online music player, 100MB free storage, audio streaming platform"
		/>

		<Font cssVariable="--font-inter" preload />
		<ClientRouter />

		<PostHog />
	</head>
	<body
		class="text-fg0 selection:bg-primary selection:text-bg bg-bg0 relative flex min-h-screen w-screen flex-col gap-3 antialiased"
	>
		<div class="fixed">
			<Toaster
				closeButton
				richColors
				swipeDirections={["right", "bottom"]}
				client:load
				transition:persist
			/>
		</div>
		<slot />
	</body>
</html>
