---
import PostHog from "@/components/posthog.astro";
import Toaster from "@/components/toaster.svelte";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import { cn } from "@/lib/utils";

interface Props {
	class?: string;
	description?: string;
	direction?: "row" | "column";
	title?: string;
}
const {
	class: className,
	description,
	direction = "column",
	title,
} = Astro.props;
---

<html
	class="not-motion-reduce:scroll-smooth min-h-screen w-screen"
	lang="en"
	transition:animate="none"
>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="SoundStash" />
		<link rel="manifest" href="/site.webmanifest" />

		<title>{title ? `SoundStash - ${title}` : "SoundStash"}</title>
		{description && <meta name="description" content={description} />}
		<meta
			name="keywords"
			content="music streaming, personal music library, high-quality audio, MP3 streaming, FLAC streaming, Opus streaming, cloud music storage, music ownership, lossless audio streaming, personal audio library, music cloud storage, high-fidelity streaming, online music player, 100MB free storage, audio streaming platform"
		/>

		<Font cssVariable="--font-inter" preload />
		<ClientRouter />

		<PostHog />
	</head>
	<body
		class={cn(
			"text-fg0 selection:bg-primary selection:text-bg bg-bg0 relative flex min-h-screen w-screen gap-3 antialiased",
			className,
			direction === "column" && "flex-col"
		)}
	>
		<div class="fixed">
			<Toaster client:load transition:persist />
		</div>
		<slot />
	</body>
</html>
