---
import "@/styles/global.css";
import { Font } from "astro:assets";
---

<html class="min-h-screen w-screen" lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>SoundStash</title>

		<Font cssVariable="--font-inter" preload />
	</head>
	<body class="flex min-h-screen w-screen flex-col gap-3 antialiased">
		<slot />
	</body>
</html>
